h1,h2
{
	text-align: center;
}
h1
{
	color: navy;
}
h2
{
	color: blue;
}
.resultat
{
	color: teal;
	text-align: center;
	text-decoration: underline;
	border: solid;
}
div
{
	text-align: center;
}
body
{
    background-color: silver;
    text-align: center;
}

.info
{
	text-align: end;
}
.outmap
{
	text-align: center;
}